<h1> Park -
  <%= @park.name %>
</h1>
<h4>Street -
  <%= @park.street %>
</h4>
<h3>
  Rating
    <%= @park.rating %>
  <h3>
    <%= @park.description %>
  </div>
  <h3> Reviews </h3>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <div class="vote-block" id="vote-for-<%= review.id %>">
          <span>
            <%= link_to "Upvote", "#", class: 'upvote-link' %>
          </span>
          <span class="vote-total"><%= review.vote_total %></span>
          <span>
            <%= link_to "Downvote", "#", class: 'downvote-link' %>
          </span>
        </div>
        <%= review.rating %>
        <%= review.body %>
        <% if current_user.try(:admin?) %>
          <div class="button alert delete-button" id="review-<%= review.id %>">Delete</div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= form_for [@park, @review] do |f| %>
    <div class="row">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(@ratings_options) %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Add Review" %>
    </div>
  <% end  %>
