  <h4>
    <%= @park.name %>
  </h4>
  <h4>
    <%= @park.street %>
  </h4>
  <h4>
    Rating:
    <% if @reviews.empty? %>
    Not yet rated
    <% else %>
    <%= @park.rating %>
    <% end %>
    <h4>
      <%= @park.description %>
    <h4>
      Reviews
    </h4>
    <ul style="list-style: none;">
      <% if @reviews.empty? %>
      <h3>
        No reviews yet. Let us know what you think...
      </h3>
      <% else %>
      <% @reviews.each do |review| %>
      <li>
        <div class="vote-block" id="vote-for-<%= review.id %>">
          <div>Rating: <%= review.rating %><br>
            Description: <%= review.body %> <br>
            <% if !review.user.nil? %>
              <div class="reviewer-info">
                <div class="review-thumbnail">
                  <%= image_tag(review.user.species.thumbnail) %>
                </div>
            <%= link_to review.user.email, review.user %>
          </div>
            <% else %>
              User has been deleted.
            <% end %>
            </div>

          Votes:
          <span class="vote-total">
            <%= review.vote_total %>
          </span>
          <span>
            <%= link_to "Upvote", "#", class: 'button success upvote-link' %>
          </span>
          <span>
            <%= link_to "Downvote", "#", class: 'button alert downvote-link' %>
          </span>

        <% if current_user.try(:admin?) %>
        <div class="button tiny alert delete-button" id="review-<%= review.id %>">
          Delete Review
        </div>
      </div>
        <% end %>
      </li><br/>
      <% end %>
    </ul>
    <% end %>
    <%= form_for [@park, @review] do |f| %>
    <div class="row">
      <div class="small-4 medium-2 large-1 columns">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(Park::RATINGS_OPTIONS) %>
    </div>
  </div>
    <div class="row">
    <div class="small-12, medium-12, large-10 columns">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  </div>
      <div class="actions">
      <%= f.submit "Add Review", class: 'button' %>
    </div>
    <% end  %>
  </div>
