<div class="not-transparent panel callout radius">
<h3>
  <%= @park.name %>
</h3>
<h4>Street -
  <%= @park.street %>
</h4>
<h4>
  Rating
  <%= @park.rating %>
<h4>
  <%= @park.description %>
<h4>
  Reviews
</h4>
<ul>
  <% @reviews.each do |review| %>
  <li>
    <div class="vote-block" id="vote-for-<%= review.id %>">
    <%= review.rating %>
    <%= review.body %>
    <span>
      <%= link_to "Upvote", "#", class: 'upvote-link' %>
    </span>
    <span class="vote-total"><%= review.vote_total %></span>
    <span>
      <%= link_to "Downvote", "#", class: 'downvote-link' %>
    </span>
  </div>Rating:
  </li>
  <% end %>
</ul>

<%= form_for [@park, @review] do |f| %>
<div>
  <%= f.label :rating %>
  <%= f.select :rating, options_for_select(@ratings_options) %>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="actions">
  <%= f.submit "Add Review" %>
</div>
<% end  %>
</div>
