<h1>
  <%= @park.name %>
</h1>
<div>
  <%= @park.rating %>
  <%= @park.description %>
</div>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <div class="vote-block" id="vote-for-<%= review.id %>" >
        <span> <%= link_to "Upvote", "#", class: 'upvote-link' %> </span>
        <span class="vote-total"><%= review.vote_total %></span>
        <span> <%= link_to "Downvote", "#", class: 'downvote-link' %> </span>
      </div>
      <%= review.rating %>
      <%= review.body %>
    </li>
  <% end %>

</ul>
