  <h3> <%= @user.email %> </h3>
  <div class="row">
  <% if @user.avatar.url %>

  <div class="avatar-resize column">
    <img src="<%= @user.avatar.url %>" />
  </div>
  <% end %>
  <div class="species-thumbnail column end">
    <img src="<%= @user.species.thumbnail %>" />
  </div>
</div>
  <div class="row">
  <div class="column">
  <dl>
    <h2>Your Reviews</h2>
    <% @reviews.each do |review| %>
      <dt>
        Park Name: <%= review.park.name %>
      </dt>
      <dd>
        Review: <%= review.body %>
      </dd>
  <% end %>
  </dl>
</div>
</div>
