<div class="not-transparent panel callout radius">
  <h1> <%= @user.email %> </h1>
  <% if @user.avatar.url %>
  <div class="avatar-resize">
    <img src="<%= @user.avatar.url %>" />
  </div>
  <% end %>

  <div class="species-thumbnail">
    <img src="<%= @user.species.thumbnail %>" />
  </div>
  <dl>
    <h3>Your Reviews</h3>
    <% @reviews.each do |review| %>
      <dt>Park Name: <%= review.park.name %></li>
      <dd>
        <li>Review: <%= review.body %></li>
      </dd>
    </dt>
  <% end %>
  </dl>
</div>
